<%
var depth2 = locals.depth2 ? locals.depth2 : 1;
var depth3 = locals.depth3 ? locals.depth3 : 0;
var url = locals.url ? locals.url : '../../';
var depth2P = [];
var depth3P = [];
for(var i=1;i<=6;i++){
    depth3P[i] = [];
    if(depth2==i){
        depth2P[i] = ' active';
        for(var j=1;j<=4;j++){
            if(depth3==j){
                depth3P[i][j] = ' active';
            }else{
                depth3P[i][j] = '';
            }
        }
    }else{ 
        depth2P[i] = "";
        for(var j=1;j<=6;j++){
            depth3P[i][j] = '';
        }
    }
}
%>
<div class="cptLnb">
    <div class="inner">
        <div class="titleArea">
            <h2>마이페이지</h2>
        </div>

        <div class="menuBox">
            <ul>
                <li class="depth2Menu<%= depth2P[1] %>">
                    <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">나의체육인복지</a></h3>
                </li>
                <li class="depth2Menu<%= depth2P[2] %>">
                    <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">복지신청현황</a></h3>
                </li>
                <li class="depth2Menu<%= depth2P[3] %>">
                    <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">복지지원현황</a></h3>
                </li>
                <li class="depth2Menu<%= depth2P[4] %>">
                    <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">대회참여현황</a></h3>
                </li>
                <li class="depth2Menu<%= depth2P[5] %>">
                    <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">증명서발급</a></h3>
                </li>
                <li class="depth2Menu<%= depth2P[6] %>">
                    <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">회원정보수정</a></h3>
                </li>
            </ul>
        </div>
    </div>

    <div class="moInner">
        <div class="subMenuBox">
            <div class="depth01">
                <button type="button" title="열기"><h2>마이페이지</h2></button>
                <div class="depthDrop">
                    <div class="inner">
                        <ul>
                            <li>
                                <h2 class="depth1Menu"><a href="#none">사업소개</a></h2>
                            </li>
                            <li>
                                <h2 class="depth1Menu"><a href="#none">신청·안내</a></h2>
                            </li>
                            <li>
                                <h2 class="depth1Menu"><a href="#none">체육인서비스</a></h2>
                            </li>
                            <li>
                                <h2 class="depth1Menu"><a href="#none">알림·소식</a></h2>
                            </li>
                            <li class="active">
                                <h2 class="depth1Menu"><a href="#none">마이페이지</a></h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="depth02">
                <button type="button" title="열기"><h3></h3></button>
                <div class="depthDrop">
                    <div class="inner">
                        <ul>
                            <li class="depth2Menu<%= depth2P[1] %>">
                                <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">나의체육인복지</a></h3>
                            </li>
                            <li class="depth2Menu<%= depth2P[2] %>">
                                <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">복지신청현황</a></h3>
                            </li>
                            <li class="depth2Menu<%= depth2P[3] %>">
                                <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">복지지원현황</a></h3>
                            </li>
                            <li class="depth2Menu<%= depth2P[4] %>">
                                <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">대회참여현황</a></h3>
                            </li>
                            <li class="depth2Menu<%= depth2P[5] %>">
                                <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">증명서발급</a></h3>
                            </li>
                            <li class="depth2Menu<%= depth2P[6] %>">
                                <h3 class="depth2Name"><a href="<%= url %>html/help/notice.html" class="depth2Link">회원정보수정</a></h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>