<%
var depth3 = locals.depth3 ? locals.depth3 : 0;
var url = locals.url ? locals.url : '../../';
var depth3P = [];

for(var j=1;j<=14;j++){
    if(depth3==j){
        depth3P[j] = ' selected';
    }else{
        depth3P[j] = '';
    }
}
%>
<div class="tabType mB24">
    <div class="cptForm">
        <div class="dropDown">
            <button type="button" class="locationTit" title="열기"></button>
            <div class="dropDownBox">
                <ul class="ddCont">
                    <li><a class="<%= depth3P[2] %>" href="<%= url %>html/apply/playerReward.html">경기력 성과포상금(선수)</a></li>
                    <li><a class="<%= depth3P[3] %>" href="<%= url %>html/apply/coachReward.html">경기력 성과포상금(지도자)</a></li>
                    <li><a class="<%= depth3P[4] %>" href="<%= url %>html/apply/socSupport.html">생활지원금</a></li>
                    <li><a class="<%= depth3P[5] %>" href="<%= url %>html/apply/eduInSupport.html">교육지원금(국내대학원)</a></li>
                    <li><a class="<%= depth3P[6] %>" href="<%= url %>html/apply/eduOutSupport.html">교육지원금(국위유학)</a></li>
                    <li><a class="<%= depth3P[7] %>" href="<%= url %>html/apply/insuranceSupport.html">보험지원금</a></li>
                    <li><a class="<%= depth3P[8] %>" href="<%= url %>html/apply/spoScollar.html">체육장학금</a></li>
                    <li><a class="<%= depth3P[9] %>" href="<%= url %>html/apply/prospectScollar.html">스포츠꿈나무 특기장려금</a></li>
                    <li><a class="<%= depth3P[10] %>" href="<%= url %>html/apply/elderSupport.html">원로체육인지원</a></li>
                    <li><a class="<%= depth3P[11] %>" href="<%= url %>html/apply/merit.html">체육유공자보상</a></li>
                    <li><a class="<%= depth3P[12] %>" href="<%= url %>html/apply/rebuildSupport.html">창업지원</a></li>
                    <li><a class="<%= depth3P[13] %>" href="<%= url %>html/apply/coachEducate.html">지도자연수</a></li>
                    <li><a class="<%= depth3P[14] %>" href="<%= url %>html/apply/employmentSupport.html">취업지원</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>