<!-- KB 2024.10.24 수정 -->
<%
var depth2 = locals.depth2 ? locals.depth2 : 1;

var url = locals.url ? locals.url : '../../';
var depth2P = [];

for(var i=1;i<=7;i++){
    if(depth2==i){
        depth2P[i] = 'active';
    }else{ 
        depth2P[i] = "";
    }
}
%>

<div class="pageLocationBar">
    <ul>
        <li class="<%= depth2P[1] %>"><a href="#none">제작 중<span class="cnt">00</span></a></li>
        <li class="<%= depth2P[2] %>"><a href="#none">제작 완료<span class="cnt">00</span></a></li>
        <li class="<%= depth2P[3] %>"><a href="#none">결제 대기<span class="cnt">00</span></a></li>
        <li class="<%= depth2P[4] %>"><a href="#none">심사중<span class="cnt">00</span></a></li>
        <li class="<%= depth2P[5] %>"><a href="#none">심사반려<span class="cnt">00</span></a></li>
        <li class="<%= depth2P[6] %>"><a href="#none">광고집행<span class="cnt">00</span></a></li>
        <li class="<%= depth2P[7] %>"><a href="#none">광고집행종료<span class="cnt">00</span></a></li>
    </ul>
    <div class="whiteBg"></div>
</div>
<!-- KB 2024.10.24 수정 -->